# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives :__
-  Create a Jupyter Notebook with markdown and code cells.
- Share your Jupyter Notebook publicly on GitHub.
-  Evaluate notebooks submitted by your peers using the provided rubric.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. ggplot

| Data sciences tools    |
|:----------------------|
|Jupyter Notebook        |
|RStudio                 |
|Visual Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60 :

In [19]:
200/60

3.3333333333333335

## Author
Zakaye DJIBO